body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    margin:  auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    text-align: center;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    margin-left: 1vw;
}

input[type="text"],
input[type="email"],
input[type="password"],
button{
    width: 17vw;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    margin-top: 4%;
    width: 10vw;
}

button:hover {
    background-color: #4680a797;
    cursor: pointer;
}
