body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: #F3F5F6;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 50px;
}

.header {
    display: flex;
    justify-content: right;
    height: 12vh;
    background-color: #BCBCBC;
    background-image: linear-gradient(#FFFFFF, #A8A8A8);
}

.boxumProfil,
.boxumAErstellen {
    /* Positionierung der Box */
    position: relative;

    /* Einbetten der Box in den Header */
    height: inherit;
    min-width: 70px;
    max-width: fit-content;
}

.boxumProfil:hover,
.boxumAErstellen:hover {
    cursor: pointer;
    background-image: linear-gradient(#d6e1e875, #1d415967);
}

.profil,
.aErstellen {
    /* Positionierung der Buttons in der Mitte der Box 'boxumProfil' */
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    /* Größe des Buttons */
    height: 30px;
    width: 30px;

    max-width: 30px;
    max-height: 30px;

    /* Runder Button */
    border-radius: 50%;
    border: 0px;
    cursor: pointer;
}

.profil {
    background-image: url("../../static/Bilder/Profil_Logo.svg");
    background-size: cover;
    background-color: white;
}

.aErstellen {
    background-image: url("../../static/Bilder/Anleitunghinzufuegen.svg");
    background-size: cover;
    background-color: white;
}

.logocontainer {
    display: flex;
    justify-content: left;
    height: 10vh;
    position: absolute;
    top: 1vh;
    left: 0.5vw;
}

.logocontainer:hover {
    cursor: pointer;
}

.hintergrund {
    margin: 0;
    background-position-y: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: static;
    width: 100%;
    height: 100%;
}

.searchbar {
    justify-content: center;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 30px;
    width: 50%;
}

.Suchleiste {
    border-radius: 17px;
    border-color: #000;
    border-width: 2px;
    height: 40px;
    padding-left: 14px;
    width: 100%;
}

.auflistungSchritt {
    background-position: center;
    float: left;
    width: 19%;
    text-align: center;
}

#Bild1 {
    object-fit: cover;
    border: 1px solid #000;
    width: 100%;
    height: 150px;
}

.vorschlaege {
    width: 70%;
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 15%;
}

#zuletzt {
    padding-bottom: 20px;
}
.katalog {
    background-color: #A8A8A8;
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.anleitungsBlock {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.anleitungsBlock:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);
    transform: translate(0, -0.3rem);
}

.anleitungsBlockImg {
    width: 40%;
}

.anleitungsBlockImg img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.anleitungsBlockText {
    width: 60%;
    margin-left: 10px;
}

.anleitungsBlockText p {
    margin: 5px 0;
}

.anleitungsBlockSave {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.anleitungsBlockSave img {
    width: 100%;
    max-height: 25px;
    object-fit: contain;
}
