<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anleitungsschritt erstellen</title>
</head>
<body>

    <h1>Anleitungsschritt und Komponenten erstellen</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- Anleitungsschritt-Felder -->
        {{ form.schrittbenennung.label_tag }}
        {{ form.schrittbenennung }}
        
        {{ form.beschreibung.label_tag }}
        {{ form.beschreibung }}
        
        {{ form.schrittbild.label_tag }}
        {{ form.schrittbild }}
        
        <!-- Komponenten-Felder -->
        {{ komponente_form.kompbeschreibung.label_tag }}
        {{ komponente_form.kompbeschreibung }}
        
        {{ komponente_form.kompbild.label_tag }}
        {{ komponente_form.kompbild }}
        
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="submit" value="Speichern">
</body>
</html>