<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anleitungsschritt erstellen</title>

    <link rel="stylesheet" type="text/css" href="../../static/css/Anleitungsschritteerstellen.css">
</head>
<body>
    <!-- Header mit Logo und Buttons -->
<div class="header">
    <div class="boxumAErstellen" onclick="window.location.pathname = '/SBSInstructionsproject/anleitungerstellen'">
        <input class="aErstellen" type="button"/>
    </div>

    <div class="boxumProfil" onclick="window.location.pathname = '/SBSInstructionsproject/profil'">
        <input class="profil" type="button"/>
    </div>       
</div>

<div class="logocontainer" onclick="window.location.pathname = '/SBSInstructionsproject'">
    <img class="logo" src="../../static/Bilder/Logo.svg">
</div>


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Zuteilung zu Anleitung
        {{ form.forms.Anleitungsschritt.anleitung }}
        
        schrittbenennung
        {{ form.forms.Anleitungsschritt.schrittbenennung }}

        Beschreibung
        {{ form.forms.Anleitungsschritt.beschreibung }}

        schrittbild
        {{ form.forms.Anleitungsschritt.schrittbild }}

        Zuteilung zu Anleitungsschritt
        {{ form.forms.Komponente.anleitungsschritt }}

        Komponentenbeschreibung
        {{ form.forms.Komponente.kompbeschreibung }}

        KomponentenBild
        {{ form.forms.Komponente.kompbild }}


        
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="submit" value="Speichern">
</body>
</html>
 