<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link zur .js und static -->
    <link rel="stylesheet" type="text/css" href="../../static/css/Anleitungdurchgehen.css">
    <script src="../../static/js/Anleitungdurchgehen.js" defer></script>

    <!-- Schriftart -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins">

    <title>Anleitungdurchgehen</title>

</head>

<body>
    <!-- Header mit Logo und Buttons -->
    <div class="header">
        <div class="boxumAErstellen">
            <input class="aErstellen" type="button" onclick="location.href='Add_page.html'">
        </div>

        <div class="boxumProfil">
            <input class="profil" type="button" onclick="location.href='Mein_Profil.html'">
        </div>       
    </div>

    <div class="logocontainer" onclick="location.href='Startbildschirm.html'">
        <img class="logo" src="SVG/Logo.svg">
    </div>

    <!-- Buttons -->
    <div class="navresbuttons"> 
        <button id="ueberblick">
            <img id="sizeicon" src="SVG/Overview.svg" onclick="popupOnS()">
        </button>
        <button id="rueckmelder">
            <img id="fragezeichen" src="Bilder/Fragezeichen.png" onclick="popupOnS()">
        </button>
    </div>

    
    <div id="schritt-details">

        <ul>
            {{ anleitungstitel }}

            {% for einzelschritt in einzelschritte %}
                <li data-index="{{ forloop.counter0 }}">

                    <div class="einzelschritt">
                        <h1>{{ einzelschritt.schrittbenennung }}</h1>
                        <p>{{ einzelschritt.beschreibung }}</p>
                    </div>

                    <div class="komponenten-container">
                        {% for komponente in komponenten.komponenten %}
                            <div class="komponente">{{ komponente }}</div>
                        {% endfor %}
                    </div>

                </li>
            {% endfor %}

        </ul>
    </div>

    <!-- Buttons um zum vorherigem nachfolgendem Schritt zu kommen -->
    <img src="../../static/Bilder/Back button.svg" class="buttonkleinlinks" id="buttonkleinlinks" onclick="loadAnleitungData1()">
    <img src="../../static/Bilder/weiter.svg" class="buttonkleinrechts" id="buttonkleinrechts" onclick="loadAnleitungData1()">
   
    
    <!-- Daten aus views.py werden geholt mit der id="schritte-json" und der id="komponenten-json" -->
    {{ einzelschritte|json_script:"schritte-json" }}
    {{ komponenten|json_script:"komponenten-json" }}


</body>

</html>



