<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link zur .js und static -->
    <link rel="stylesheet" type="text/css" href="../../static/css/Anleitungdurchgehen.css">
    <script src="../../static/js/Anleitungdurchgehen.js" defer></script>

    <!-- Schriftart -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins">

    <title>Anleitungdurchgehen</title>

</head>

<body>

    <div id="schritt-details">

        <ul>
            {{ anleitungstitel }}

            {% for einzelschritt in einzelschritte %}
                <li data-index="{{ forloop.counter0 }}">

                    <div class="einzelschritt">
                        <h1>{{ einzelschritt.schrittbenennung }}</h1>
                        <p>{{ einzelschritt.beschreibung }}</p>
                    </div>

                    <div class="komponenten">
                        {% for komponente in einzelschritt.komponenten %}
                            <div class="komponente">{{ komponente }}</div>
                        {% endfor %}
                    </div>

                </li>
            {% endfor %}

        </ul>
    </div>

    <img class="buttonkleinrechts" src="SVG/weiter.svg"  onclick="location.href='Anleitung_durchgehen2.html'">

    {{ einzelschritte|json_script:"schritte-json" }}
    {{ komponenten|json_script:"komponenten-json"}}

</body>

</html>
