
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link zur .js und static -->
    <link rel="stylesheet" type="text/css" href="/static/css/Anleitungdurchgehen.css">
    <script src="../../static/js/Anleitungdurchgehen.js" defer></script>

    <!-- Schriftart -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins">

    <title>Anleitungdurchgehen</title>

</head>

<body onload="loadAnleitungData1()">

    <!-- Header: grauer Balken mit Logo, Link zu Neue Anleitung und Profil -->
    <div class="header">

        <!-- Box um "Anleitung erstellen" mit link; Bild in CSS -->
        <div class="boxumAErstellen">
            <input class="aErstellen" type="button" onclick="location.href='Add_page.html'"> <!-- onclick muss noch ausgebessert werden -->
        </div>

        <!-- Box um "Profil erstellen" mit Link; Bild in CSS-->
        <div class="boxumProfil">
            <input class="profil" type="button" onclick="location.href='Mein_Profil.html'"> <!-- onclick muss noch ausgebessert werden -->
        </div>       
    </div>

    <!-- Logo im Header und Link zur Startseite -->
    <div class="logocontainer" onclick="location.href='Startbildschirm.html'">
        <img class="logo" src="../../static/Bilder/Logo.svg">
    </div>

     <!-- Buttons -->
    <!-- Hintergrund -->
    <div class="hintergrund">
        <div class="navresbuttons"> 
            <button id="ueberblick">
                <img id="sizeicon" src="SVG/Overview.svg" onclick="popupOnS()">
            </button>
            <button id="rueckmelder">
                <img id="fragezeichen" src="Bilder/Fragezeichen.png" onclick="popupOnS()">
            </button>
        </div>
        <!-- --------------------------Anzeigen Schritt X---------------------------- -->

        {% for einzelschritt in einzelschritte %}
        <li data-index="{{ forloop.counter0 }}">
            {% for komponente in komponenten %}
            <li data-index="forloop.counter0">
                <div id="alles">
                <div id="linkeZelle">
                    <div>
                        <div class="titel">
                          <h1>{{ anleitungstitel }}</h1> 
                        </div>
                        <div id="schritt">
                            <p class="abstand"> <h2>Schritt 1:</h2><u>
                                    <h2>{{ einzelschritt.schrittbenennung }}</h2>
                            </u>
                        </div>
                    </div>

                    <div id="beschreibung">
                        <div class="unterueberschrift"> <h3>Beschreibung:</h3></div>
                        <div class="titel">
                            <div class="informationsrahmen">
                                <h4>{{ einzelschritt.beschreibung }}</h4> 
                            </div>
                        </div>
                    </div>

                    <div id="komponenten">
                        <div class="unterueberschrift">  <h3>Komponenten:</h3></div>
                        <div class="informationsrahmen2" >
                            <div id="komponente1" class="einzelneKomponente">
                                <img  class="komponentenbild" src="Bilder/Rohe_Kartoffeln.jpg">
                                {{ komponente.kompbeschreibung }}
                            </div>
                            <div class="einzelneKomponente">
                                <img class="komponentenbild" src="Bilder/Oel.jpg">
                                {{ komponente.kompbeschreibung }}
                                <p></p>                               
                            </div>
                        </div>
                        </div>
                    </div>


                <div class="rechteZelle" id="BildSchritt1" onclick="popupOnV()">
                </div>
                <div class="vorzurueck">
                    <div class="anzeige">
                        <img class="buttonkleinlinks" src="SVG/Back button.svg" onload="fortschritt(1,6)"  onclick="location.href='Startbildschirm.html'">
                        <svg id="fortschrittsanzeige" onload="fortschritt(1,6)"></svg>
                        <img class="buttonkleinrechts" src="SVG/weiter.svg"  onclick="location.href='Anleitung_durchgehen2.html'">
                    </div>
                    <div class="fortschrittszahl">
                        <h4>1/6</h4>
                    </div>
            	</div>
            </div>
            </li>
            {% endfor %}
        </li>
        {% endfor %}

    <div id="schritt-details">

        <!-- <ul>
            {{ anleitungstitel }}

            {% for einzelschritt in einzelschritte %}
                <li data-index="{{ forloop.counter0 }}">
                    
                    {{ einzelschritt.schrittbenennung }}
                    {{ einzelschritt.beschreibung }}
                    {{ einzelschritt.schrittbild }}

                </li>
            {% endfor %}
            

            {% for komponente in komponenten %}
                <li data-index="forloop.counter0">

                    {{ komponente.kompbeschreibung }}
                    {{ komponente.kompbild }}
                </li>
            {% endfor %}
        </ul> -->
    </div>

    {{ einzelschritte|json_script:"schritte-json" }}

</body>
</html>
