<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SbS - Startbildschirm</title>
    <link rel="stylesheet" href="../../static/css/Startseite.css" type="text/css">
</head>

<body>
    <!-- Header mit Logo und Buttons -->
    <div class="header">
        <div class="boxumAErstellen" onclick="window.location.pathname = '/SBSInstructionsproject/anleitungerstellen'">
            <input class="aErstellen" type="button">
        </div>

        <div class="boxumProfil" onclick="window.location.pathname = '/SBSInstructionsproject/login'">
            <input class="profil" type="button">
        </div>
    </div>

    <div class="logocontainer" onclick="window.location.pathname = '/SBSInstructionsproject'">
        <img class="logo" src="../../static/Bilder/Logo.svg">
    </div>

    <div class="hintergrund">
            <div class="searchbar">
                <form action="filler">
                    <input class="Suchleiste" type="text" placeholder="Suche">
                </form>
            </div>

            <div class="kataloguberschrift">
                <h2>Katalog</h2>
            </div>
            <div class="katalog" id="katalog">

                <div id="anleitung-details">
                    {% for einzelneanleitung in anleitung %}
                    <ul data-index="{{ forloop.counter0 }}">
                        <div class="anleitungsBlock">
                            <div class="anleitungsBlockImg">
                                <img src="{{ einzelneanleitung.img }}">
                            </div>
                            <div class="anleitungsBlockText">
                                {{ einzelneanleitung.anleitungstitel }}
                                {{ einzelneanleitung.profil }}
                                {{ einzelneanleitung.kategorie }}
                                {{ einzelneanleitung.dauer }}
                            </div>
                            
                            
                        </div>
                    </ul>
                    {% endfor %}
                <!-- </div>
                <div class="anleitungsBlock" onclick="window.location.pathname = '/SBSInstructionsproject/anleitungdurchgehen/3'">
                    
                    <div class="anleitungsBlockText">
                        <p>Gebratener Seehecht mit Kartoffelstreifen</p>
                        <p>Von: BolliTV</p>
                        <p>Kategorie: Essen</p>
                        <p>Dauer: 50 min</p>
                        <div class="anleitungsBlockSave">
                            <img src="../../static/Bilder/Anleitungsichern.svg">
                        </div>
                    </div>
                </div>

                <div class="anleitungsBlock">
                    <div class="anleitungsBlockImg">
                        <img src="../../static/Bilder/Seehecht_angeordnet.jpg">
                    </div>
                    <div class="anleitungsBlockText">
                        <p>MMK Anleitungen erstellen</p>
                        <p>Von: RotY</p>
                        <p>Kategorie: How To's</p>
                        <p>Dauer: 15 min</p>
                        <div class="anleitungsBlockSave">
                            <img src="../../static/Bilder/Anleitungsichern.svg">
                        </div>
                    </div>
                </div>

                <div class="anleitungsBlock">
                    <div class="anleitungsBlockImg">
                        <img src="../../static/Bilder/Seehecht_angeordnet.jpg">
                    </div>
                    <div class="anleitungsBlockText">
                        <p>MMK Anleitungen erstellen</p>
                        <p>Von: RotY</p>
                        <p>Kategorie: How To's</p>
                        <p>Dauer: 15 min</p>
                        <div class="anleitungsBlockSave">
                            <img src="../../static/Bilder/Anleitungsichern.svg">
                        </div>
                    </div>
                </div>

                <div class="anleitungsBlock">
                    <div class="anleitungsBlockImg">
                        <img src="../../static/Bilder/Seehecht_angeordnet.jpg">
                    </div>
                    <div class="anleitungsBlockText">
                        <p>MMK Anleitungen erstellen</p>
                        <p>Von: RotY</p>
                        <p>Kategorie: How To's</p>
                        <p>Dauer: 15 min</p>
                        <div class="anleitungsBlockSave">
                            <img src="../../static/Bilder/Anleitungsichern.svg">
                        </div>
                    </div>
                </div> -->
            </div>
    </div>

    {{ anleitung|json_script:"anleitung-json" }}
</body>
</html>